template(name='profile_layout')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
                a.ui.icon.button(href='/view/rzpRYuGK2Rwh2Cv9w' class="{{isActivePath '/view/rzpRYuGK2Rwh2Cv9w'}}") 
                    // .facet_black F
                    i.home.large.icon
                if isInRole 'admin'
                    a#toggle_admin_mode.ui.icon.button(href='#') 
                        if admin_mode
                            i.blue.protect.large.icon
                        else
                            i.protect.large.icon

            .eight.wide.center.aligned.column
                if parent
                    if parent.can_access
                        a.ui.button(href="/view/#{parent._id}")
                            if parent.icon_class
                                +icon48 name=parent.icon_class classes='ui mini inline image'
                            else
                                +icon48 name='chevron-up' classes='ui mini inline image'
                            | #{parent.title}
                // else if admin_mode
                //     #create_parent.ui.button Create Parent
            .four.wide.center.aligned.column
                if currentUser
                    a.ui.icon.button(href="/u/#{currentUser.username}")
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        else
                            i.user.large.icon
                    // a#logout.ui.icon.button(href='#') 
                    //     i.sign.out.large.icon
                else
                    a.ui.icon.button(href='/sign-in') 
                        i.sign.in.large.icon
        .two.wide.column
            with person
                img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.center.aligned.header
                    |#{username}
                    unless is_user
                        +staus_indicator
                .ui.vertical.labeled.fluid.icon.menu
                    a.item(href="/u/#{username}/about" class="{{isActiveRoute name='profile_about'}}") 
                        i.info.icon
                    unless is_user
                        a.item(href="/u/#{username}/contact" class="{{isActiveRoute name='profile_contact'}}") 
                            i.phone.icon
                            // |contact #{name}
                    a.item(href="/u/#{username}/karma" class="{{isActiveRoute name='profile_karma'}}") 
                        i.heartbeat.icon
                        // | karma
                    a.item(href='/u/#{username}/favorites' class="{{isActivePath '/u/#{username}/favorites'}}")
                        i.heart.icon
                        // |favorites
                    a.item(href='/u/#{username}/clouds' class="{{isActivePath '/u/#{username}/clouds'}}")
                        i.cloud.icon
                        // |clouds
                .ui.vertical.labeled.fluid.icon.menu
                    if is_person_by_username
                        a.item(href="/u/#{_id}/edit") 
                            i.pencil.icon

                        a.item(href="/u/#{currentUser.username}/account" class="{{isActiveRoute name='account_settings'}}") 
                            i.settings.icon
                            // |settings
                        a#logout.item(href="#" data-position="bottom center" data-content="Log Out")
                            i.sign.out.icon
                            // |log out
    


        .twelve.wide.column
            +Template.dynamic template=profile_content


        
        
template(name='profile_about')
    with person
        h1.ui.center.aligned.header 
            i.info.icon
        .ui.hidden.divider
        if tags
            i.tags.icon
            each tags
                .user_tag.ui.label #{this}
        if profile.sex_position
            .ui.header 
                |favorite sex position:
                | #{profile.sex_position}
        if profile.spirit_animal
            .ui.header 
                |spirit animal:
                | #{profile.spirit_animal}

        
        
