template(name='view_doc')
    with doc
        .ui.padded.stackable.grid
            unless editing
                .centered.middle.aligned.row
                    .four.wide.center.aligned.column
                        a.ui.icon.button(href='/view/rzpRYuGK2Rwh2Cv9w' class="{{isActivePath '/view/rzpRYuGK2Rwh2Cv9w'}}") 
                            // .facet_black F
                            i.home.large.icon
                    .eight.wide.center.aligned.column
                    .four.wide.center.aligned.column
            .centered.middle.aligned.row
                .mobile.hidden.four.wide.center.aligned.column
                    unless is_editing_something
                        if younger_sibling
                            a.ui.button(href="/view/#{younger_sibling._id}")
                                if younger_sibling.completed
                                    if younger_sibling.icon_class
                                        +icon48 name=younger_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +icon48 name='checked' classes='ui mini spaced image'
                                else
                                    if younger_sibling.icon_class
                                        +dots100 name=younger_sibling.icon_class classes='ui mini spaced image'
                                    else
                                        +icon48 name='circle' classes='ui mini spaced image'
                                | #{younger_sibling.title}
                                // | #{younger_sibling.body}
                .eight.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if image_url
                            img.ui.tiny.inline.image(src=image_url)
                        else if completed
                            if icon_class
                                +icon48 name=icon_class classes='ui mini spaced image'
                            else
                                +icon48 name='checked' classes='ui mini spaced image'
                        else
                            if icon_class
                                +dots100 name=icon_class classes='ui mini spaced image'
                            // else
                            //     +icon48 name='circle' classes='ui mini spaced image'
                        if number
                            |#{number}: 
                        if editing
                            | Editing '#{title}'
                        else
                            | #{title}
                        if can_edit
                            +toggle_editing_button
                            
                .mobile.hidden.four.wide.center.aligned.column
                    unless is_editing_something
                        if older_sibling
                            if completed
                                a.ui.button(href="/view/#{older_sibling._id}")
                                    | #{older_sibling.title}
                                    if older_sibling.icon_class
                                        if older_sibling.completed
                                            +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                        else
                                            +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                            else
                                .ui.disabled.button
                                    | #{older_sibling.title} &nbsp;
                                    if older_sibling.icon_class
                                        if older_sibling.completed
                                            +icon48 name=older_sibling.icon_class classes='ui mini spaced image'
                                        else
                                            +dots100 name=older_sibling.icon_class classes='ui mini spaced image'
                        else if number 
                            if is_author
                                #add_older_sibling.ui.button Add Older Sibling
            .centered.row
                if editing
                    .ten.wide.column
                        .ui.styled.fluid.accordion
                            h3.active.title
                                +icon96 name="electronics" classes='ui mini inline image'
                                | '#{title}' Components
                                i.dropdown.icon
                            .active.content
                                each components
                                    if slug_exists
                                        // .ui.segment(class=field_segment_class)
                                        +Template.dynamic template=slug data=doc
                                        if editing
                                            +remove_field
                                            .ui.hidden.divider
                            h3.title
                                +icon96 name="flow-chart" classes='ui mini inline image'
                                | #{child_count} Child Documents
                                i.dropdown.icon

                            .content
                                #admin_add.ui.button
                                    i.plus.icon
                                    | Add Child Document
                                each children
                                    +grid_item
                else
                    .fourteen.wide.column
                        unless is_editing_session_id
                            +theme_facet

                            each components
                                if slug_exists
                                    // .ui.segment(class=field_segment_class)
                                    div
                                        +Template.dynamic template=slug data=doc
                            .ui.items
                                each children
                                    // +card_view
                                    +child_view